
.container-auth{
    width: 100%;
    flex: 1;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .Card-auth{
        width: 100%;
        max-width: 600px;

        background: red;

        padding: 2rem;
        border-radius: 0.5rem;
    }
}

